<% if comments.empty? %>
  <div>There is no comments.</div>
<% end %>
<% comments.each do |comment| %>
  <div>
    <%= comment.body %> |
    <% if current_user == comment.user %>
      <%= link_to "Destroy", [commentable, comment], data: { turbo_method: :delete } %>
    <% end %>
  </div>
<% end %>
