<% if mentioned_reports.present? %>
  <div>
    この日報は、以下の日報からリンクされています。
    <ul>
      <% mentioned_reports.each do |report| %>
        <li><a href='<%= report.id %>'><%= report.title %></a></li>
      <% end %>
    </ul>
  </div>
<% end %>
